@model TatBlog.WebApp.Areas.Admin.Models.PostFilterModel

@{
    ViewData["PageTitle"] = "Danh sách bài viết";

    var postsList = ViewBag.PostsList as IPagedList<Post>;
}

<h1>
    Đây là danh sách bài viết
</h1>

<partial name="_PostFilterPane" model="Model" />

@if (postsList != null && postsList.Count > 0)
{
    <table class="table table-responsive table-striped">
        <thead>
            <tr>
                <th>Tiêu đề</th>
                <th>Tác giả</th>
                <th>Chủ đề</th>
                <th>Xuất bản</th>
                <th>Xóa bài viết</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in postsList)
            {
                <tr>
                    <td>
                        <a class="text-bold"
                   asp-area="Admin"
                   asp-controller="Posts"
                   asp-action="Edit"
                   asp-route-id="@post.Id">
                            @post.Title
                        </a>

                        <p class="text-muted">
                            @post.ShortDescription
                        </p>
                    </td>
                    <td>
                        @post.Author.FullName
                    </td>
                    <td>
                        @post.Category.Name
                    </td>
                    <td>
                        <a asp-area="Admin"
                           asp-controller="Posts"
                           asp-action="ChangePostOnClick"
                           asp-route-id="@post.Id"
                               class="btn btn-warning" >
                            @(post.Published ? "Có" : "Không")
                        </a>

                    </td>
                    <td>
                        <a asp-area="Admin"
                           asp-controller="Posts"
                           asp-action="DeletePostOnClick"
                           asp-route-id="@post.Id"
                           class="btn btn-primary"
                           OnClick="return confirm('Bạn có chắc chắn là muốn xóa bài viết này không')">
                            Xóa
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h1 class="text-danger">
        Không tìm thấy bài viết nào
    </h1>
}

<partial name="_Pager" model="@postsList" />
